@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  min-height: 100%;
  padding: 0;
  background-color: #33424D;
  font-family: 'Roboto Slab', serif;
  color: #2F424E;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.cluster-chart {
  height: 429px;
  width: 100%;
  background-color: #3B4756;
  margin-bottom: 2px;
}

.highcharts-background {
  fill: #3B4756;
}

.highcharts-grid-line {
    fill: none;
    stroke: #3B4756;
}

.highcharts-tooltip text {
    fill: #fff;
}

.chart-subtitle {
  text-transform: uppercase;
  color:#fff;
  font-family: 'Roboto', serif;
  font-weight: lighter;
  letter-spacing: .15em;
  padding-top: 8px;
  margin-bottom: 15px;
  margin-left: 49%
}

.companyShow {
  margin-left: 40px;
  margin-right: 40px;
}

.highcharts-data-labels .highcharts-series-0 {
  font-family: 'Roboto Slab', serif;
}

.searchBtn {
  display: none;
}

.searchBar {
  height: 30px;
  border-radius: 2px;
  width: 180px;
  border:none;
  font-size: 12px;
  padding-left: 18px;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);
  outline: none;
  letter-spacing: .3px;
  background-color: #4E5E6E;
}