.info-bar {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  color: #fff;

  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 0;
   .info {
    width: 32.5%;
    text-align: center;
    color: #fff;
    background-color: #4E5E6E;
    padding-bottom: 20px;
    /*no % for vertical*/
    /*align-items: center;*/
      .number {
        font-size: 35px;
        font-family: 'Roboto Slab', serif;
        font-weight: lighter;
        margin-bottom:5px;
        letter-spacing: .06em;
        font-weight: lighter;
      }
      .mustache-header {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: .1em;
        padding-bottom: 10px;
        text-transform: uppercase;
      }
    }
}
