.info-bar {
  color: #fff;
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 0;
   .info {
    width: 32.5%;
    text-align: center;
    color: #fff;
    background-color: #4E5E6E;
    padding-bottom: 3%;
    /*no % for vertical*/
    /*align-items: center;*/
      .number {
        font-size: 3em;
        font-family: 'Roboto Slab', serif;
        font-weight: lighter;
      }
      .mustache-header {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        font-weight: 100;
      }
    }
}
