.news-bg {
  padding-top: 10px;
  background-color: #fff;
  width: 100%;
  height: 1000px;
}

.news-header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 20px;
  padding-bottom: 15px;
  z-index: -1;
}

.news-story {
  text-align: center;
  padding-bottom: 20px;
}

.news-story li {
  list-style-type: none;
  /*width: 1000px;*/
  /*width: 48em*/
  padding-bottom: 40px;
}

.news-story a {
  width: 150px;
}

.news-text {
  width: 30%;
  margin: 0 auto;
  display: inline-block;
  font-family: 'Roboto', serif;

  text-align: left;
}

.news-text a{
  text-decoration: none;
  color: #2F424E;
}

.news-story h3 {
  margin-top: 0;
}

.news-text p {
  font-size:12px;
  font-weight: lighter;
    vertical-align: top;
}

.news-text a:hover {
  text-decoration: underline;
}

.news-img {
/*  height: 100px;*/
  display: inline-block;
  width:10%;
  vertical-align: top;
  margin-right: 2%;

}

.news-single-line-item {
  text-align: center;
}