.search-page {
  color: #fff;
  font-size: 22px;
  margin: 3em auto;
  width: 90%;
  input {
    display: block;
    font-size: 22px;
    height: 50px;
    margin: 0 auto;
    width: 150%;
  }
  .search-results {
    column-gap: 1.5em;
    font-size: .85em;
    margin: 1.5em 6em;
    padding: 0;
    .search-card {
      box-shadow: 2px 2px 4px 0 #ccc;
      box-sizing: border-box;
      display: inline-block;
      margin: 0 1em 1.5em;
      padding: 1em;
      width: 100%;
      height: 20%;
      background-color: #fff;
      color: #33424D;
      .logo img {
        display: inline-block;
        height: 30%;
        float: left;
      }
      .stats {
        padding-left: 5%;
        display: inline-block;
      }
    }
  }
}

.card-modal {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}