.search-page {
  color: #fff;
  font-size: 22px;
  margin: 0 auto;
  width: 95%;
  .search > input {
    color: #33424D;
    display: block;
    font-size: 22px;
    height: 50px;
    margin: 0 auto;
    width: 150%;
  }
  .search-results {
    column-gap: 1.5em;
    font-size: .85em;
    margin: 1.5em 6em;
    padding: 0;
    text-align:center;
    .search-card {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      margin: .2em;
      padding: 1em;
      padding-right: 35px;
      width: 80%;
      height: 235px;

      background-color: #fff;
      color: #33424D;
      .logo img {
        display: inline-block;
        height: 30%;
        float: left;
      }
      .stats {
        padding-left: 5%;
        display: inline-block;
      }
    }
  }
}

.card-modal {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}