.stats {
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-items: center;
  height: 221px;
}

.stats .stat {
  width:32%;
  text-align: center;
  color: #fff;
  background-color: #4E5E6E;
  padding-top: 45px;
  padding-bottom: 45px;
  /*no % for vertical*/
  /*align-items: center;*/
}

.stats .stat .number {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
}

.stats .stat .mustache-header {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin:
}